body {
    display: flex;
    justify-content: center;
}
.text {
    margin-top: 325px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}
.bold{
    font-family: 'Montserrat', sans-serif;
    font-size: 100px;
    font-weight: 700;
    margin: 10px 10px 10px 10px;
    padding-left: 590px;
}
.third {
    padding-left: 635px;
}